table {
    border-color: gray;
}

td {
    border-color: gray;
}

body {
   background-color:  ;
}

h2 {
    color: white;
}

.dead {
    background-color: black;
}

.alive {
    background-color: white;
}

