div {
    float: right;
    width: 25%;
    height: 200px;
    background-color: rgb(85, 85, 85);
    color: white;
}

div button {
    margin-left: 0px;
}

#interval {
    width: 95%;
}

#args {
    width: 65%;
}

#send {
    width: 25%;
}